.login-form {
  display: flex;
  flex-direction: column;
  gap: 22px;              /* más separación */
  width: 480px;           /* MÁS GRANDE */
  padding: 40px;          /* más aire */
  background: rgba(0, 0, 0, 0.75);
  border-radius: 20px;    /* un pelín más redondeado */
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.login-form h2 {
  text-align: center;
  font-size: 2rem;        /* título grande */
  margin-bottom: 16px;
  color: #eedcdc;
}

.login-form input {
  padding: 16px;          /* inputs grandes */
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  outline: none;
}

.login-form button {
  padding: 16px;
  font-size: 1.3rem;      /* botón potente */
  font-weight: 600;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.2s;
}

.login-form button:hover {
  background: #ddd;
}
.error {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: -10px;
}