.actions {
  display: flex;
  gap: 24px;
}

.actions a {
  padding: 14px 26px;
  background: white;
  color: black;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}
