.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  color: rgb(206, 222, 236);
}
